*.class
build/
# Package Files #

*.war
*.ear
.classpath
*.project
.settings/
.svn/
*.MF
web.xml
clientconfig.properties
jdbc.properties
sm2/src/resource/jdbc.properties 
*.log
*.log.*
#py 
*.pyc

#mq
*.data
*.redo
